body {
    font-family: 'Sen', sans-serif;
    background-color: #fff8ed;
    color: #261C2C;
}
.container {
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
}
nav {
    display: flex;
    flex-direction: row;
}
.btn {
    background-color: #86574d;
    font-family: 'Sen', sans-serif;
    width: 70px;
    height: 30px;
    font-weight: bold;
}
.explore-btn {
    height: 50px;
    width: 150px;
    border-radius: 0px 25px 25px 25px;
}
li {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #261C2C;
}
button{
    border: none;
    border-radius: 25px;
    color: white;
}
h1 {
    font-size: 40px;
}
.content {
    margin: auto;
    margin-top: 50px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secondary-text {
    font-weight: normal;
    display: block;
    font-size: 25px;
}
.travel-image{
    width: 50%;
    max-width: 700px;
}
p {
    color: #4B5D67;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.travel-card {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-image {
    width: 100%;
}