body {
    font-family: 'Sen', sans-serif;
    background-color: #fff8ed;
    color: #261C2C;
}
.container {
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
}
header {
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    background-color: #86574d;
    font-family: 'Sen', sans-serif;
    width: 70px;
    height: 30px;
    font-weight: bold;
}
.close-icon {
    margin-top: 30px;
}
.explore-btn {
    height: 50px;
    width: 150px;
    border-radius: 0px 25px 25px 25px;
}
li {
    list-style-type: none;
    margin-bottom: 30px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #261C2C;
}
button{
    border: none;
    border-radius: 25px;
    color: white;
}
h1 {
    font-size: 40px;
}
.content {
    margin: auto;
    margin-top: 50px;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-content {
    width: 50%;
}
.secondary-text {
    font-weight: normal;
    display: block;
    font-size: 25px;
}
.travel-image{
    width: 50%;
    max-width: 700px;
}
p {
    color: #4B5D67;
}
.slideshow {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.travel-card {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places-image {
    width: 100%;
}
.next {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    background-color: #86574d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next:hover{
    cursor: pointer;
}
@media only screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
        align-items: center;
    }
    nav {
        flex-direction: row;
    }
    li {
        display: inline-block;
        margin-right: 30px;
    }
    .close-icon {
        display: none;
    }
}